
@{
     ViewData["Title"] = "Healthplan";
}
<html>
    <head>
        <style>
             .healthplans{
              color: green;
        position: absolute;
        top: 40%;
        left: 13%;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;    
        border-radius: 10px;
    }
             img{
                opacity: 0.5; 
                height: 300px;
                width: 450px;
            }
            img:hover {
            opacity:1.5;
             filter:alpha(opacity=100); 
}
        </style>
    </head>
    <body>            
<div class="container-fluid">
    <img src="~/image/plan.jpg" style="width: 1200px; height: 600px"/>

    <div class="healthplans">
        <p>our network of community pharmacies and telehealth clinical service center, delivers high-quality<br>
           clinical interventions to patients and providers in collaboration with health plans and other medication<br> 
           and disease state management program sponsors.</p>
    </div>
    </div>
    
<div class="container">
    <div class="row">
       
        <div class="col">
            <h1 style="color: cadetblue; font-size: 30px" >Medication Therapy Management Programs</h1>
       <p style="font-size: 15px"> We offers full service, CMS-compliant MTM programs to optimize medication use, manage disease states, coordinate care, and reduce avoidable healthcare costs. We allow for program customization to meet specific client needs.</p>  
       <p><p>
                <h1 style="color: cadetblue; font-size: 23px" >Our end-to-end solutions include:</h1>
            <p style="font-size: 15px">

          <ul>
           <li>Member identification and targeting</li>
            <li>Member engagement via telehealth and local pharmacies</li>
            <li>Comprehensive medication reviews</li>
            <li>Targeted medication reviews</li>
            <li>Reporting</li>
            <li>Audit support</li>
          </ul>  
            </p></p></p>
        </div>

         <div class="col">
            <img src="~/image/plan1.jpg" class="rounded mx-auto d-block" alt="...">
        </div>       
    </div>
</div>
    </body>
</html>
