
@{
    ViewData["Title"] = "Aboutus";
}
<html>
    <head>
        <style>
              .about_us{
              color: black;
        position: absolute;
        top: 40%;
        left: 13%;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;    
        border-radius: 10px;
    }

            .about{
                color: cadetblue;
                text-align : center;
                margin-bottom:auto;
            }
            img{
                opacity: 0.5; 
                height: 400px;
                width: 650px;
            }
            img:hover {
            opacity:1.5;
             filter:alpha(opacity=100); 
}
                 #abc{
                position: absolute;
                top: 25%;       
            }
            
        </style>
    </head>
    <body>
     
<div class="container-fluid">
    <img src="~/image/aboutus.jpg" style="width: 1200px; height: 600px"/>

    <!--About US-->
    <div class="about_us" stlye="widhth: 100%">
        <p>Our Pharmacy system is dedicated for providing the pharmacy
                industry with thefinest pharmacy management system available. We are constantly innovating
                                to improve patient care and the overall pharmacy operation.</p>
    </div>
    </div>

<h1 class="about">What is ABC Pharmacy System?</h1>
<p> <p> <p style="text-align: center;">ABC is an end-to-end pharmacy management software solution that provides an easy-to-use pharmacy management
        platform with a fully integrated point-of-sale system, fully-integrated e-care and a clinical opportunities 
        platform. The ABC system offers fully automated e-scripts, automated prescription processing, and more than 
        80 integration partners. This software also helps community pharmacies maximize efficiency, grow their business, 
        and better serve their patients.
    </p></p></p>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/image/img.jpg" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <h1 style="color: cadetblue; font-size: 30px" >Who we are</h1>
            <h2 style="color: cadetblue; font-size: 24px" >We positively impact health</h2>
       <p style="font-size: 15px"> We’re an impact-driven organization that touches virtually every aspect of health. Every decision we make is guided by our I 2 CARE and ILEAD principles.</p>  
       <p><p>
                <h1 style="color: cadetblue; font-size: 30px" >What we do</h1>
            <h2 style="color: cadetblue; font-size: 24px" >We help improve health outcomes for a better tomorrow</h2>
            <p style="font-size: 15px">We work with biopharma companies, care providers, pharmacies, manufacturers, governments, and others to deliver insights, products and services that make quality care more accessible and affordable.</p>
           </p>
       </p>
        </div>
    </div>
</div>

             
  


  
           
              


      
           


</body>
   </html>