
@{
      ViewData["Title"] = "Contact";
}


<div class="container">
    <div class="row">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28262.487737343203!2d85.2918272!3d27.692236799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1655737263198!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name">
</div>
      <div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
  <label for="message" class="form-label">Message</label>
  <textarea class="form-control" id="email"></textarea>
    </div>

        <button type="button" class="btn btn-success">Send</button>

        <div class="mt-3">
            <p>Phone: +977-9813112121</p>
            <p>Email: bijayadhala@gmail.com</p>
        </div>

        </div>
    </div>

</div>

